<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastro Empresa</h3>
  </div>
  <div class="panel-footer" style="background-color:white;">

   <%= render 'form' %>

  <%= link_to vk_empresas_path, :class => "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
  <% end %>

</div>