 <div class="divVitrines">
    <div class="row mar-bot40">
    </div>
 </div>


<div class="row mar-bot40">
	<div class="col-lg-4" >
	</div>
	 <div class="col-lg-6" >
		<div class="btn-group-vertical" role="group">
		</div>
	 </div>
</div>


<script>
 function buscaVitrines(father_id) {

  $.ajax({
    url: '<%= buscaVitrines_path %>',
    data : 
    {
        father_id : father_id
    },
    success: function(data){

    $("div.btn-group-vertical").html("");
      for (var i in data) {
        var item = data[i];

        $("div.btn-group-vertical").append("<a href='buscaPorVitrine/"+item.id+"' class='btn btn-default btn-lg' role='button'>"+ item.nome_vitrine + "</a>");
      };
        $("div.btn-group-vertical").append("<button type='button'  class='btn btn-primary btn-lg'>Voltar</button>");
    }
  })  
}


http://localhost:3000/buscaPorVitrine/1

buscaVitrines();

  //      $("div.btn-group-vertical").append("<a href='<%=buscaPorVitrine_path('+item.nome_vitrine +')%>' class='btn btn-default btn-lg' role='button'>"+ item.nome_vitrine + "</a>");




</script>