<%= stylesheet_link_tag   "style" %>
<%#= javascript_include_tag "googleAnalytcs" %>


<%= form_tag(olhekpesquisa_path, :method=>'GET') do %>
    <input type="hidden" id="vk_vitrine_id" name="vk_vitrine_id" value="1" >
		<input type="hidden" id="lat" name="lat">
		<input type="hidden" id="long" name="long">
		<input type="hidden" id="categoria" name="categoria">
		<input type="hidden" id="q" name="q" >
   <button class="btn btn-primary" style="display: none;" id="BotaoPesquisa" type="submit" >Buscar</button>
<%end%>

	<div class="row mar-bot40">
		 <div class="col-lg-12">
			 <div class="col-lg-12">
			   <h2 align="center" class="abel-regular" style="color:#3a5795"><strong>Informe seu CEP e encontre as melhores promoções perto de você.</strong></h2>
	    	</div>
		 </div>
	</div>
	<br>
	<div class="jumbotron" style="background-color:#dce3f2">
	<div class="row mar-bot40">
	 <div class="col-lg-3">
	 </div>
		<div class="col-lg-6">
				<div class="input-group">
					<input id="cep" name="cep" type="text" class="form-control" placeholder="Digite aqui seu CEP...">
					<span class="input-group-btn">
						<button class="btn btn-primary" id="BotaoPesquisaCep" onclick="BuscaEnderecoCep();" >Buscar</button>
    				</span>
			 </div>
		</div>
	</div>
</div>
<hr>

<div class="row mar-bot40">
	 <div class="col-lg-12">
		 <div class="col-lg-1">
		 </div>
		 <div class="col-lg-10">
		   <h3 class="abel-regular" align="center" style="color:#3a5795">Ou clique no <strong>carrinho</strong> e encontre as melhores promoções de sua cidade...</h3>
    	</div>
	 </div>
</div>
<br>
<div class="row mar-bot40">
<div class="col-lg-5">
</div>
<div class="col-lg-4">
		<a href="#" onclick="Pesquisar()">
			<span style="font-size:100px" class=" glyphicon glyphicon-shopping-cart"></span>
		</a>
 </div>
</div>
<hr>

<!--<div class="jumbotron" style="background-color:#ebeff7">
	<div class="row mar-bot40">
		 <div class="col-lg-12">
			 <h4>Quer encontrar as melhores promoções dos supermercados de sua cidade? então OlheK!</h4>
			 <h5>Por enquanto estamos somente na cidade de Goiânia.</h5>
		 </div>
	</div>
</div> -->

<h4 class="title" style="color:#3a5795">Produtos Mais Recomendados</h4>
<hr style="border-color: #5d5d5d">
<script>
 function buscaVitrines(father_id) {
  $.ajax({
    url: '<%= buscaVitrines_path %>',
    data :
    {
        father_id : father_id
    },
    success: function(data){
    $("#vitrines").html("");
		$("#vitrines").append("<a class='btn btn-primary btn-lg' role='button'>" +"Vitrines"+ "</a>");
	  for (var i in data) {
        var item = data[i];

        $("#vitrines").append("<a href='buscaPorVitrine/"+item.id+"' class='btn btn-default btn-lg' role='button'>"+ item.nome_vitrine + "</a>");
      };
    }
  })
}

$(document).ready(function() {
  $("#cep").keypress(function(e){
		if(e.wich == 13 || e.keyCode == 13){
			BuscaEnderecoCep();
		}
	});
});

function Pesquisar(id){
	 $("#categoria").val(id);
	 $("#BotaoPesquisa").click();
 }

 function BuscaEnderecoCep(){
     $.ajax({
         url: 'http://maps.google.com/maps/api/geocode/json',
         data :
         {
            address: $('#cep').val()
         },
       success: function(data){
         for (var i in data.results) {
           var item = data.results[i];
           $("#lat").val(item.geometry.location.lat);
           $("#long").val(item.geometry.location.lng);
           $("#BotaoPesquisa").click();
         };
         }
       })
 }

buscaVitrines()


</script>


<style media="screen">

.btn-sq-lg {
width: 150px !important;
height: 150px !important;
}

.btn-sq {
width: 100px !important;
height: 100px !important;
font-size: 10px;
}

.btn-sq-sm {
width: 50px !important;
height: 50px !important;
font-size: 10px;
}

.btn-sq-xs {
width: 25px !important;
height: 25px !important;
padding:2px;
}

  a:hover {
	color: #3a5795;
	background-color:white ;
 }

</style>
