<footer class="footer">
  <div style='margin-left:10px;'>
    <small>
      <a href="#">SIVIC - Visão Celularr</a>
      by Leandro Gomes e Diel Oliveira
    </small>
  </divO
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
